body{
    background-image: url("");
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position:absolute ;
    background-size: 7680px, 5760px;
    font-size: 16px;
    line-height: 18px;

}
/*body{
https://d2w9rnfcy7mm78.cloudfront.net/28726595/original_314b7bf8fb5fd51460da9fcddba8520c.jpg?1718219273?bc=0
    background-image: url(path2.jpg);
    background-repeat: no-repeat;
    background-position:absolute ;
    background-size: 7680px, 5760px;
    font-size: 16px;
    line-height: 18px;
    background-image: url;
} */





#answ1{
    position: absolute;
    left: 100px;
    top: 300px;
    filter: drop-shadow(20px);
}



#water{
    position: absolute;
    left: 7500px;
    top: 4800px;
    filter: blur(4px)contrast(200%)saturate(100%) ;
    right: 100px;
    min-width: 100%;
    scale: 300%;
    opacity: 100%;
    

}

#tea{
    position: absolute;
    left: 3968px;
    top: 2350px;
    filter: contrast(200%)saturate(0%);
    right: 100px;
    min-width: 100%;
    scale: 20%;

    opacity: 50%;


}
  .image-block{
	position: fixed;
	transform: scale(0.5);
	display: block;
	left: 500px;
	top: 20px;
	bottom: 40px;
}
.index-images{
    position: absolute;
    margin-top: -200px;
    scale: 30%;
    border-radius: 50px;
    z-index: 2;
}

.index-image-block{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40vw;
    min-width: 100%;
    scale: 65%;
    transform: rotate(-90deg);
    opacity: 10%;
    z-index: -1;
}


@media screen and (max-width: 480px) {
    .cursor-follow{
        display: none;
    }
    .index-image-block{
        display: block;
        position: absolute;
        margin-left: 150vw;
        margin-right: -45vw;
        margin-top: -10vh;
        scale: 130%;
        transform: rotate(-50deg);
    }
    .circle-section{
        display: none;
    }
    .index-body{
        position: inherit;
        height: 80vh;
        overflow-y: scroll;
        cursor: default;
    }
    .line-1, .line-2, .line-3{
        display: none;
    }
}