body{
    background-image: url("");
    background-color:#fffffa;
    background-repeat: no-repeat;
    background-position:absolute ;
    background-size: 8900px, 5760px;
    font-size: 16px;
    line-height: 18px;

}
/*body{
https://d2w9rnfcy7mm78.cloudfront.net/28726595/original_314b7bf8fb5fd51460da9fcddba8520c.jpg?1718219273?bc=0
    background-image: url(path2.jpg);
    background-repeat: no-repeat;
    background-position:absolute ;
    background-size: 7680px, 5760px;
    font-size: 16px;
    line-height: 18px;
    background-image: url;
} */












  .image-block{
	position: fixed;
	transform: scale(0.5);
	display: block;
	left: 500px;
	top: 20px;
	bottom: 40px;
}
.index-images{
    position: absolute;
    margin-top: -200px;
    scale: 30%;
    border-radius: 50px;
    z-index: 2;
}

.index-image-block{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40vw;
    min-width: 100%;
    scale: 65%;
    transform: rotate(-90deg);
    opacity: 10%;
    z-index: -1;
}


